@model User



<div class="mb-3" >
    <table class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Почта</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
    <h2>Заказы</h2>
    <ul>
    @foreach(var order in Model.Orders)
    {
        <li>
            Id заказа:@order.Id
        </li>
        foreach(var product in order.Products)
        {
            <li>Продукт: @product.Name</li>
        }
    }
    </ul>
    @if (Model.Name=="admin")
    {
        <a asp-action="Info" asp-controller="Home" class="btn btn-primary">Информация о пользователях</a><br/>
    }
<a asp-action="LogOut" asp-controller="Account" class="btn btn-primary">Выход </a>
</div>