@model RegisterModel


<section class="registration">
    <div class="registration-cssave">
        <form asp-action="Registration" method="post">
            <h3 class="text-center">Регистрация</h3>
            <div class="form-group">
                <input asp-for="Name" class="form-control item" type="text"  placeholder="Имя" >
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control item" type="text"  placeholder="Почта" >
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control item" type="password"  placeholder="Пароль" >
                
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control item" type="password"  placeholder="Подтверждение пароля" >
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block create-account" type="submit">Регистрация</button>
            </div>
           
        </form>

    </div>

</section>