@model CRUDProductVM



<form method="post" enctype="multipart/form-data">
    @if(Model.Product.Id==0)
    {
        <p>Создание товара</p>
        <label asp-for="@Model.Product.Id" hidden></label>
    }
    else
    {
        <p>Обновление товара</p>
        <input asp-for="@Model.Product.Id" hidden>
       
    }
    <div>
        <label asp-for="Product.Name">Название товара</label>
        <input asp-for="Product.Name" />
        <span asp-validation-for="Product.Name"></span>
    </div>

    <div>
        <label asp-for="Product.CategoryId">Категория</label>
        

        <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-control">
            <option disabled selected>--Select Category--</option>
        </select>
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
       
    </div>

    <div>
        <p>Описание</p>
    </div>
    <div>
        <script>
            $(document).ready(function() {
                $('.summernote').summernote({
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']]
                    ]
                });
            });
        </script>
        <textarea asp-for="Product.Description"  class="summernote"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
   
    <div>
        <label asp-for="Product.Price">Цена</label>
        <input type="number" asp-for="Product.Price" />
        <span asp-validation-for="Product.Price"></span>
    </div>
    <div>
        <p>Фотография</p>
        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
    </div>
    @if(Model.Product.Id!=0)
    {
        <img src="/images/products/@Model.Product.Img">
    }
    <div>
        @if (Model.Product.Id == 0)
        {
            <button type="submit">Создать</button>
        }
        else
        {
            <button type="submit">Обновить</button>
        }
    </div>
</form>

