@model ProductVM

<div>
    <h2>Кнопки для сортировки категорий</h2>
    <button>All</button>
    @foreach(var category in Model.Categories)
    {
        <button>@category.Name</button>
    }
</div>
<div>
    <h2>Продукты</h2>
    <div style="display:flex; padding:10px;">
        @foreach(var product in Model.Products)
        {
        
            <div style="border:1px solid black; margin:10px;">
                <img style="width:100px;height:100px;" src="/images/product/@product.Img" alt="ошибка">
                <p>@product.Name</p>
                <p>@product.Price</p>
                <a asp-action="ProductDetails" asp-controller="Product" asp-route-id="@product.Id">Подробнее</a>
                <button>добавить в корзину</button>

            </div>
       
        }
    </div>
</div>
